* {
    box-sizing: border-box;
  }
  
body {
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
  padding: 0; 
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding: 30px;
  background-color: #2d3042;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3),
.grid-item:nth-child(4) {
  background-color: #ffffff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: #00000099;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.overlay:hover {
  opacity: 1;
}

.overlay h3 {
  color: #ffffff;
  text-align: center;
  font-size: 45px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.overlay a {
  display: block;
  width: 100%;
}