* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Proxima Nova', sans-serif;
    color: #ffffff;
    font-size: 25px;
    margin: 0;
    padding: 0;
  }
  
  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "double double double double1 double1 double1"
      "double double double double1 double1 double1"
      "single single triple triple triple triple"
      "single single triple triple triple triple"
      "footer footer footer footer footer footer";
    gap: 20px;
    padding: 20px;
    background-color: #2d3042;
  }
  
  .grid-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #grid-double {
    grid-area: double;
  }
  
  #grid-double1 {
    grid-area: double1;
  }
  
  #grid-triple {
    grid-area: triple;
  }

  #grid-single {
    grid-area: single;
  }
  
  #grid-footer {
    grid-area: footer;
  }
  
  
  .grid-item:nth-child(1) {
    background-color: #fc825c;
  }
  
  .grid-item:nth-child(2) {
    background-color: #fb6057;
  }
  
  .grid-item:nth-child(3) {
    background-color: #01a688;
  }
  
  .grid-item:nth-child(4) {
    background-color: #1dc0a1;
  }
  
  .grid-item:nth-child(5) {
    background-color: #fea061;
  }